# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3d23503f951b96f5693e146966ad44adadea6615d8ec4739242dc573cc416ce21124cee81d419f1a660320a8e0d5f7d277943940b0ab9dbafea9786319033dc0

test:
  secret_key_base: eeda0f68f8a6b2427ba58c6d060bf7a1dc97a1d970f0da5e891d44822a896a6d7e08bde49a2fd9e2a47a26c779f02f90a810e4b1d6185c87b457bc5273d66de2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
